.column {
    float: left;
    width: 24.33%;
    padding: 10px;
    background-color:rgb(250,250,250);
    height: 250px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
body{
    margin: 0;
    padding: 0;
}
header{
    box-sizing: border-box !important;
    height: 62px !important;
    left: 0px !important;
    position: relative !important;
    right: 0px !important;
    border-top: 1px solid #D6D8DA !important;
    border-bottom: 1px solid #D6D8DA !important;
    font-family: Lato, "Noto Sans", Helvetica, Corbel, sans-serif, Helvetica, Corbel, sans-serif;
   /*  background-color: rgb(250,250,250); */
    color: #1865f2;
}
h1,h2,h3{
    font-family:"Source Serif Pro", "Noto Serif",;
    line-height: 54px;
    letter-spacing:0;
    word-spacing:0;
    font-size:53px;
    font-weight:600;
    text-decoration:0; 
    color:rgb(33, 36, 44);
}
p{
    font-family:Lato, "Noto Sans", sans-serif;
     line-height: 30px;
     letter-spacing:-0.1px;
     word-spacing:0;
     font-size:18px;
     font-weight:400;
     text-decoration:0; 
     color:rgb(33, 36, 44);
}
.ka-headrow{
    max-width: 1200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    height: 100% !important;
    clear: both
}
.headerdropdown{
 border:none;
 outline:none;
 margin-left: 80px;
 margin-top: 14px;
}
._dropdown-18{
    height: 46px;
}
.headersearch{
    width: 198px;
    margin-left: 201px;
    margin-top: -35px;
}
.signup{
   list-style-type: none;
   float:left;
   margin-left: 48px;
   margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
   color: #1865f2;
}
.image{
    height: 52px;
    margin-left: 84px;
    margin-top: 6px;

}
._signupfont{
    font-size: 15px;
    color: #1865f2;
}
.ka-sec1h1{
    margin-top: 47px;
    font-size: 100%;
    font-size: 53px;
}
button{
    margin-top: 3px;
}
.secondsectioncontainer{
    margin-top: 150px;
}
.cardborder{
    border: none;
}
.cardtext{
    text-align: center;
}
.children{
    width: 41rem;
}
.children2{
    width: 41rem;

}
.children_button{
    height: 4em;
    width: 13em;
}
.children_button2{
    height: 4em;
    width: 13em;
}
#animated{
    width: 43rem;
}
.userquote{
    font-size: 2rem;
    text-align: center;
    margin-top: 123px;
}
#username{
    margin-top: 53px;
    margin-left: 47rem;
}
.join{
   width: 100%;
   margin: 0;
   background-image: url('last_chance_pattern0.jpg');
   background-position: center center;
   background-repeat: no-repeat;
}
.buttonset{
    width: 20rem;
    margin-left: 33rem;
    margin-top: 10rem;
}
.logo{
    padding-left: 30px;
    padding-right: 26px;
    height: 20px;
    width: 200px;
}
li{
    color:white;
}
.footerfonts{
    font-size: 12px;

}
.footer_line{
    margin-left: 10em;
}
.fontsection2{
    /* font-family: 'Source Serif Pro', serif; */
    font-size: 40px;
}
.fontsection3{
    /* font-family: 'Source Serif Pro', serif; */
    font-size: 53px;
}
._children-171{
    padding-top: 5em;
    padding-left: 1em;
}
h2,h1,h3{
   font-family: 'Source Serif Pro', 'Noto Serif', serif !important;
}
.line-60{
  margin-top: -3px;
}
.signup-43{
    margin-right: 97px;
}
.key_196{
    text-align: center;
}
.supporters_228{
    text-align: center;
    margin-top: 50px;
}
._eib2kdk {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #21242c !important;
    display: block !important;
    font-family: 'Source Serif Pro', 'Noto Serif', serif !important;
    font-size: 23px !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    letter-spacing: -0.1px !important;
    margin: 0 0 20px 0 !important;
}
._1jhgniwy {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: #21242c !important;
    display: block !important;
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
    letter-spacing: -0.1px !important;
}
._search-button{
 border: none;
}